<form id="info" action="/register" method="post">
  <label for="venue[name]">Venue Name</label>
  <input class="venueName" type="text" name="venue[name]">
  <br><h3>Add Specs to the Backline</h3>

  <div class="specsContainer">
  </div>

  <div id="specForm">
    <br><label for="spec[equipment_type]">Equipment Type</label>
    <br><input id="equipType" type="text" name="spec[equipment_type]">
    <br><label for="spec[description]">Equipment Description</label>
    <br><input id="desc" type="text" name="spec[description]">


    <br><label for="spec[functional]">Does it Work?</label>
    <br><select id="functional" name="spec[functional]">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    <button class="saveSpec">Save Spec</button>
  </div>


  <br><input class="saveAll" type="submit" value="Save This Venue and Specs">
</form>
